* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

.menu__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  border: 2px solid #333;
  margin: 0 10px 20px;
  padding: 20px;
  position: relative;
  background: #cccccc5d;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.295);
}

.menu__item-heading {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ac47ff;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.3rem;
  border: 1px solid black;
}
.item1 {
  background: #ccbf10;
}
.item2 {
  background: #a51d13;
}
.item3 {
  background: #39e247;
}

.menu__item-desc {
  margin-top: 55px;
  line-height: 1.6;
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu__container {
    flex-wrap: wrap;
  }
  .menu__item {
    width: 47.2%;
  }
  .menu__item:nth-of-type(3) {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .menu__container {
    flex-direction: column;
    width: 80%;
  }
}
